@import url("https://fonts.googleapis.com/css?family=Bevan");

.not-found-container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(40,40,40);
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-container p {
  font-family: "Bevan", cursive;
  font-size: 130px;
  margin: 10vh 0 0;
  text-align: center;
  letter-spacing: 5px;
  background-color: black;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.not-found-container p span {
  font-size: 1.2em;
}

.not-found-container code {
  color: #bdbdbd;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 0 30px 25px;
}

.not-found-container code span {
  color: #f0c674;
}

.not-found-container code i {
  color: #b5bd68;
}

.not-found-container code em {
  color: #b294bb;
  font-style: unset;
}

.not-found-container code b {
  color: #81a2be;
  font-weight: 500;
}

.home-link {
  color: #8abeb7;
  font-family: monospace;
  font-size: 20px;
  text-decoration: underline;
  margin-top: 10px;
  display: inline-block;
}

.home-link:hover {
  color: #8abeb7;
  text-decoration: none;
}

@media screen and (max-width: 880px) {
  .not-found-container p {
    font-size: 14vw;
  }
}



